head
  style(type='text/css').
    body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-family: 'Open Sans', sans-serif;
    }

    .title { color: purple; }

body
  h1.title Olá, #{email}!
  p HTML Gerado com Pug e enviado a um servidor SMTP fake (Pertencido a Mailtrap)!